<script lang="ts">
  import "moment/locale/es";
  import moment from "moment";
  moment.locale("es");

  const goneDate = moment("10-12-2021", "DD-MM-YYYY");
  const returnDate = moment("21-04-2022", "DD-MM-YYYY");

  const millisecondsGone = goneDate.diff(moment(), "milliseconds");
  let durationGone = moment.duration(millisecondsGone, "milliseconds");

  const millisecondsReturn = returnDate.diff(moment(), "milliseconds");
  let durationReturn = moment.duration(millisecondsReturn, "milliseconds");

  const interval = setInterval(() => {
    durationGone = moment.duration(
      goneDate.diff(moment(), "milliseconds"),
      "milliseconds"
    );

    durationReturn = moment.duration(
      returnDate.diff(moment(), "milliseconds"),
      "milliseconds"
    );
  }, 1);
</script>

<main>
  {#if goneDate.isAfter(moment())}
    <h1>R.I.P Tuki</h1>
    <h1>
      {durationGone.days()} Días - {durationGone.hours()}hs {durationGone.minutes()}m
      {durationGone.seconds()}s
    </h1>
    <img
      style={`opacity: ${durationGone.days() / 28};`}
      class="foto"
      src="/tuki.jpg"
      alt="tuki"
    />
  {:else}
    <img
      style={`opacity: ${durationGone.days() / 28};`}
      class="return"
      src="/resurrection.jpg"
      alt="tuki"
    />
    <h1>
      {durationReturn.months()} Meses {durationReturn.days()} Días - {durationReturn.hours()}hs
      {durationReturn.minutes()}m
      {durationReturn.seconds()}s
    </h1>
  {/if}
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    font-size: 6em;
    font-weight: 100;
  }

  .return {
    height: 50vh;
  }

  .foto {
    border-radius: 100%;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
